################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug/AssignTeacher.dll
/bin/AssignTeacher.dll
/.vs/AssignTeacher/config/applicationhost.config
/.vs/AssignTeacher/CopilotIndices/17.14.1147.5054/CodeChunks.db-shm
/.vs/AssignTeacher/CopilotIndices/17.14.1147.5054/CodeChunks.db-wal
/.vs/AssignTeacher/CopilotIndices/17.14.1147.5054/SemanticSymbols.db
/.vs/AssignTeacher/CopilotIndices/17.14.1147.5054/SemanticSymbols.db-shm
/.vs/AssignTeacher/CopilotIndices/17.14.1147.5054/SemanticSymbols.db-wal
/.vs/AssignTeacher/CopilotIndices/17.14.1641.39856/CodeChunks.db
